<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="huji.ac.il.parkme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".EmailPasswordActivity"></activity> -->
        <!-- <activity android:name=".FirstLoginActivity"></activity> -->
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".AvailableParkingListActivity"
            android:label="@string/title_activity_availabel_parking_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ParkingInfoActivity"
            android:label="@string/title_activity_parking_info"
            android:theme="@style/dialogTheme" />
        <activity
            android:name=".ParkingPaymentActivity"
            android:label="@string/title_activity_parking_payment"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
